body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.button-container, .spinner-container {
    display: flex;
    justify-content: center;
    padding-top: 10%;

}

.container {
    background-color: grey;
    height: 100%;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

/* Estilos básicos para el spinner */
.spinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
}

/* Animación del spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}